/* GENERAL*/

body {
  background-color: #EDEDED;
}

p, h1, h2, h3, h4, h5, a{
  font-weight: 300;
}

/* VIEW POSTS INDEX*/

#posts_index_div_nested{
	border-style:none;
	border-color:red;
}

#posts_img_div_nested{
	border-style:none;
	border-color:yellow;
  height: 120px;
  text-align: center
}

#posts_div_index_edit_delete{
  border-style:none;
  border-color:yellow;
}
.company_logo{
  max-width: 100px;
  vertical-align: middle
}


.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.allign_right{
  text-align: right
}

.allign_center{
  text-align: center
}

#posts_news{
  border-style:none;
  border-color:yellow;
  text-align: left;
  color: black;
  height: 350px; 
  overflow-y: scroll;
}

#posts_news a{
  color: #363635;
}

#posts_news small{
  color: #5C5E5E;
}

#ul_no_bullets{
  list-style-type: none;
}

.h2_conmpany_name{
   font-size: x-large;
   font-weight: 300;
}

.h2_conmpany_name a{
  color: black;
}

.h2_conmpany_name a:hover{
  color: #777777;
  text-decoration: none;
}

.posts_a {
  color: black;
}

.posts_a:hover
{ 
  color:#777777;
  text-decoration: none;
}

.navbar{
  background-color: #EDEDED;
}

.nav_bar_a{
  color: black !important;
  padding-top: 35px;
  font-weight: 300;
  font-size: 125%;
  min-width: 60px;
}

.nav_bar_a:hover{
  color: #777777;
  font-weight: 400;
}

.nav_bar_li{
  padding-top: 20px;
}
/* SIDEBAR FORMAT */
.sidebar_out{
  border-style:none;
  border-color:green;
  display: table;
}

.sidebar_in{
  border-style:none;
  border-color:blue;
  display: table-cell;
}
.sidebar_ticker{
  color: black;
  font-weight: 300;
  text-align: left;
}

.sidebar_ticker:hover{
  background-color:transparent !important;
  color: black;
  font-weight: normal;
}


.sidebar{
  background-color: transparent;
  border: none;
  box-shadow: none;
}

/*VIEW POSTS SHOW*/
#div_recomendation_color span {
  display: table-cell;
  vertical-align: middle;
}
