
.posts_index_div{
  width:150px; 
  height: 150px;
  border-style: solid; 
  border-color: #D1D1D1;
  border-radius: 3px;
  margin: 10px; 
  padding: 0px;
  position: relative;
  
}

.posts_index_inside_div{
  line-height: 125px; 
  background-color: white; 
  font-size: xx-large;
  text-align: center;
  color: black;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.posts_index_inside_div:hover
{ 
  color:#777777;
  text-decoration: none;
}

.posts_index_hover_div{
  line-height: 100%; 
  background: rgb(200, 54, 54); /* The Fallback */
  background: rgba(210, 210, 210, 0.5); 
  text-align: center;
  color: black;
  width: 100%;
  height: 35%;
  position: absolute;
  bottom: 0;
  left: 0;
  
}

.posts_index_helper {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;      
} 



/* recomendation div coloring */
.buy {
  width: 100%;
  height: 20px;
  border: solid none;
  background-color: #3DF24C;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.sell {
  width: 100%;
  height: 20px;
  border: solid none;
  background-color: #F03E3E;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.hold {
  width: 100%;
  height: 20px;
  border: solid none;
  background-color: #F2DA24;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.sell_too_risky {
  width: 100%;
  height: 20px;
  border: solid none;
  background-color: #F28B24;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}